@import "tailwindcss";
@plugin "daisyui";

[data-theme="blog_dark"] {
  color-scheme: dark;
}

/* ทำให้เฉพาะพื้นที่พิมพ์สูงขึ้น */
.quill .ql-editor {
  min-height: 280px;
}

/* กัน toolbar/คอนเทนต์ทะลุกรอบ */
.quill .ql-container {
  border: 0; /* เพราะเราครอบด้วย border แล้ว */
}
.quill .ql-toolbar {
  border: 0;
  border-bottom: 1px solid #e5e7eb; /* เส้นแบ่งสวยๆ */
}

.quill .ql-toolbar.ql-snow {
  white-space: normal;
}
.quill .ql-formats {
  margin-right: 8px;
}

/* คืนค่า Style ให้กับ HTML Tags ภายใน .content */
.content h1 {
  font-size: 2.25em;
  font-weight: 800;
  margin-top: 1.5em;
  margin-bottom: 0.8em;
  line-height: 1.2;
}

.content h2 {
  font-size: 1.875em;
  font-weight: 700;
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  line-height: 1.3;
}

.content h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.content p {
  margin-bottom: 1em;
  line-height: 1.6;
}

.content ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.content ol {
  list-style-type: decimal;
  padding-left: 1.5em;
  margin-bottom: 1em;
}
